<%= link_to 'Courses', courses_path(page: @previous_page) %>
<h1><%= @course['name'] %></h1>
<h4><%= @course['code'] %></h4>
<div>Description: <%= @course['description'] %></div>
<div>Starts at: <%= @course['start_at'] %></div>
<div>Ends at: <%= @course['end_at'] %></div>
