<%= link_to 'Courses', courses_path %>
<h1><%= @course['name'] %></h1>
<div><%= @course['code'] %></div>
<div><%= @course['description'] %></div>
<div><%= @course['start_at'] %></div>
<div><%= @course['end_at'] %></div>
